.eyecatch{
	background-image: url("../img/top/isyotop.jpg");
	background-size:cover;
}
.eyecatch h1{
	text-align: center;
	color: #fff;
	padding: 150px 0 10px;
	margin: 0;
}
.eyecatch p{
	text-align: center;
	color: #fff;
	margin: 0;
}
.eyecatch-button{
	text-align: center;
	width: 100%;
	padding: 50px 0 100px;
}
.eyecatch-button a{
	color: #f7f7f7;
	background-color:#228b22;
}
.main-contents{
	padding: 0 10px;
	width: 80%;
	padding: 0;
	float:left;
	background-color:#faf0e6;
}
.top-note{
	padding: 20px 0px 50px;
}
.top-note h2{
	text-align: center;
	width: 100%;
	display: inline-block;
}
.top-note p{
	text-align: center;
	width: 100%;
	display: inline-block;
	padding: 20px 0 0;
}
.top-note-content{
	text-align: center;
}
.top-note-item{
	width: 33%;
	display: inline-block;
	float: left;
	padding: 0 0 20px;
}
.top-note-item img{
	width: 95%;
	display: inline-block;
}
.top-button{
	text-align: center;
	width: 100%;
	display: block;
}
.top-button a{
	font-size: 20px;
}

.main-blog{}
.main-blog img{
	width: 100%;
	position: relative;
	filter: brightness(70%);
}
.main-blog-eyecatch{
	background-image:url("../img/top/isyoisyo.jpg");
	background-size:cover;
}
.main-blog h2{
	text-align: center;
	padding: 100px 0 0;
	color: #fff;
}
.main-blog h3{
	text-align: center;
	padding: 0 0 100px;
	color: #fff;
}
.main-blog h4{
	text-align: center;
	padding: 30px 0 0;
}
.main-blog-block{
	display: flex;
	padding: 30px 0 50px;
}
.main-blog-item{
	width : calc(100% / 3) ;
	padding: 10px;
}
.main-blog-info{
	padding: 5px;
	border:1px #000 solid;
}
.main-blog-info p{
	margin: 0;
}
.main-blog-moreinfo{
	padding: 15px 0;
}
.main-blog-button{
	text-align: center;
	margin: 0;
	padding: 10px 0 50px;
}
.main-blog-button a{
	font-size: 20px;
}